@import url('/fonts/stylesheet.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      overflow-x: hidden !important;
      font-family: Baton Turbo, Mukta, sans-serif;
      font-size: 112.5%;
      /* font-size: 100%; */
      box-sizing: border-box;
      -webkit-text-size-adjust: 100%;
    }
    .btn-upper {
      font-size: 1.2em !important;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .letter-spacing--1 {
      letter-spacing: -1px;      
    }    
    .letter-spacing-1 {
      letter-spacing: 1px;
    }
    .letter-spacing--2 {
      letter-spacing: -2px;
    }
    .letter-spacing-01 {
      letter-spacing: 0.1px;
    }
    .letter-spacing-05 {
      letter-spacing: 0.5px;
    }
    .letter-spacing-06 {
      letter-spacing: 0.6px;
    }
    .letter-spacing-0 {
      letter-spacing: 0px;
    }
    .font-weight-0 {
      font-weight: 300 !important;
    }
    .font-weight-500 {
      font-weight: 500 !important;
    }
    .line-height-1 {
      line-height: 1em !important;
    }
    .line-height-13 {
      line-height: 1.3 !important;
    }
    .line-height-15 {
      line-height: 1.5 !important;
    }
    .line-height-16 {
      line-height: 1.6 !important;
    }
    .btn-slider {
      font-size: 120%;  
    }
    .d-block {
      display: block !important;
    }
    .font-size-3em {
      font-size: 3em !important;
    }
    .text-blue {
      color: #172337;
    }

    @media (max-width: 768px) {
      .btn-upper {
        font-size: 1.2em !important;
        line-height: 1;
      }
      .text-key-benefits {
        font-size: 1.5em !important;
      }
      .text-08 {
        font-size: 0.8em;
      }
      .text-sm-13{
        font-size: 1.3em !important;
      }
      .mini-drag {
        width: 20px;
      }
      .font-sm-bold {
        font-weight: bold;
      }
      .font-size-14 {
        font-size: 1.4em !important;
      }
    }    

    @media (max-width: 544px) {
      html {
        font-size: 102.6%;
      }
    }
  }